<div class="about">
  <div class="english">
    <h1 class="title">Introduction</h1>
    <p>
    My name is luxing, aka luxious. I am good at Ruby, Rust and JavaScript programming language. PHP is the best programming language in the world.
    </p>
    <p>
    Everything's up-to-date. Nothing to do.
    </p>
  </div>

  <div class="chinese">
    <h1 class="title">简介</h1>
    <p>
    我的中文名是路行，网名 luxious。目前自由职业中(也就是无业)。比较擅长 Ruby，Rust 与 JavaScript 语言。信奉合适的场景使用合适的工具这一理念。但是也有一些个人偏爱，我喜欢 Ruby 漂亮且便捷的语法，Rust 深思熟虑的前瞻思想和高效性能，以及 Vue 的简单直接和同样简单但优质的文档。简而言之，美、高效、简单是我的追求。
    </p>
    <p>
    平生一大爱好是打扫房间与扔垃圾。
    </p>

  </div>
</div>
