<header class="header-wrapper">
  <div class="header-overlay"></div>
  <div class="header-content">
    <div class="avatar">
      <%= image_tag('rustonruby.png') %>
    </div>
    <div class="author-title">Luxious's Blog</div>
    <div class="author-desc">as you see, ruby on rust.</div>
    <%= navbar %>
    <%= social %>
    <div class="copy">Copyright © <%= Time.now.strftime("%Y") %> Luxious. Powered by <a target="_blank" href="https://rubyonrails.org/">Rails</a>.</div>
  </div>
</header>
